body {
    background-color: #102010;
    
    font-family: Arial, sans-serif;
}

.student-avathar {
    border: 1px solid var(--gray);
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
}

.completed {
    color: green;
    background-color: rgba(185, 255, 218, 0.4);
    padding: 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.pending {
    color: red;
    background-color: rgba(241, 172, 172, 0.25);
    padding: 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.wrapper {
    background-color: #fdfdfd;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
}

.custom-dropdown-toggle {
    border: none !important;
    background: none !important;
}
.dates{
    width: 80%;
}


/*PRODUCTS*/
.product-card {
    background-color: #1e3a1e;
    border: none;
    border-radius: 8px;
    width: 100%; 
    max-width: 250px; 
}

.product-card img {
    height: 150px; 
    object-fit: cover; 
}

.btn-add-product {
    background-color: #28a745;
    color: #fff;
}

.btn-add-product:hover {
    background-color: #218838;
}

.product-card .card-body {
    padding: 10px; 
}

.product-card .card-title {
    font-size: 1rem; 
}

.product-card .card-text {
    font-size: 0.875rem; 
}

/*dashboard*/
.total-orders {
    background-color: #007bff;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.orders-summary {
    margin-top: 20px;
}
.order-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}
.ingredients-popout {
    background-color: #343a40;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ingredients-popout .close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}

/*orders*/

.modal-body{
    font-family: Arial, sans-serif;
}